* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000000;
  font-family: sans-serif;
  font-size: 1em;


}

ul {
  padding-left: 20px;
}

button {
  min-width: 80px;
  padding: 6px 8px;
  border-radius: 6px;

  font-size: 16px;
  font-weight: 600;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;

  margin: 16px 0;
}

.warning {
  color: red;
  font-weight: bold;
}

:modal {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 275px;
  min-height: 22vh;

  border: none;
  border-radius: 10px;
  padding: 0 16px;

  background-color: #ffffff;

  color: #000000;
}

header {
  margin: 16px 0;

  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin: 12px 0;
}

.labelled-input {
  text-align: center;
}

label {
  font-size: 16px;
  font-weight: bold;
}

.number-input {
  width: 60px;

  margin: 4px 0;
  padding: 2px 0;

  font-size: 16px;
  text-align: center;
}



#painter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

#grid-container {
  display: flex;
  flex-flow: row wrap;

  /*max-width: 900px;*/
  /*max-height: 900px;*/
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin: 0;
  padding: 0;
}

#grid-container > div {
  box-sizing: border-box;

  margin: 0;
  padding: 0 0 0 1px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  font-size: 10px;
}

#palette-container {
  border: 1px solid black;
}

#palette-container > div {
  width: 50px;
  height: 50px;
}

#terrain-stamp-container {
  /*border: 1px solid black;*/
}

#terrain-stamp-container > div {
  width: 50px;
  height: 50px;

  border: 1px solid black;
}